<% if @games.any? %>
  <% @games.each do |game| %>
    <p><%= game.name %> | <%= number_to_currency game.price %>
  <% end %></p>
<% else %>
  <h3>Sorry, there are no games yet D:</h3>
<% end %>


<h2>Test Test test</h2>
